* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: "roboto", sans-serif;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Hero section */
#hero {
	background-image: url(./images/bilde1.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .5;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero .cta {
	display: inline-block;
	padding: 10px 30px;
	color: lime;
	background-color: transparent;
	border: 2px solid lime;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 20px;
	transition: .3s ease background-color;
	transition-property: background-color, color;
}
#hero .cta:hover {
	color: white;
	background-color: lime;
}
#hero h1 {
	position: relative;
	display: block;
	width: fit-content;
	font-size: 4rem;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1.5s;
}
#hero h2 {
	position: relative;
	display: block;
	width: fit-content;
	font-size: 4rem;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 2.5s;

}
#hero h3 {
	position: relative;
	display: block;
	width: fit-content;
	font-size: 4rem;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 3.5s;

}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: lime;
	animation: text_reveal_box 1s ease;
	animation-delay: 1s;
}
#hero h2 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: lime;
	animation: text_reveal_box 1s ease;
	animation-delay: 2s;

}
#hero h3 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: lime;
	animation: text_reveal_box 1s ease;
	animation-delay: 3s;
}
#hero h1:nth-child(1) {
	animation-delay: 1,5s;
}
#hero h2:nth-child(1) {
	animation-delay: 2,5s;
}
#hero h3:nth-child(1) {
	animation-delay: 3,5s;
}
/* End Hero Section */

/* Keyframes */
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100%{
		color: white;
	}
}
/* End Keyframes */


/* Services section */
#services {}
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0;
	padding: 100px 0;
}
#services .section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
#services .section-title span {
	color: lime;
}
#services .service-top p {
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300px;
	letter-spacing: .05rem;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
/* End Service section */